*.json
*.model
nohup.out
*.RData
*.csv
*.swo
.nsf*
*.swp
.DS_Store
.Rproj.user
.ipynb_checkpoints/
.Rhistory
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
*.pkl
*.txt
