version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
    working_directory: ~/skelebot
    steps:
      - checkout
      - run:
          name: run tests
          command: python setup.py test
